<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактор базы знаний</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/edit_class.css">
</head>
<body>

<div class="Container">
        <p class="Title">Добавление класса {{class_name}}</p>

         <form action="/add_class_fields" method="post" name="add_class_fields">
            {{table | safe}}
            <button type="submit" class="BTN"> Добавить значения полей класса </button>
        </form>
        <div class="InnerContainer">
            <div class="_Back">
                <a href='/edit_class'>
                    <button class="Exit"> Назад </button>
                </a>
            </div>
            <div class="_Exit">
                <a href='/'>
                    <button class="Exit"> Главное меню </button>
                </a>
            </div>
        </div>
    </div>

</body>
</html>