<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактор базы знаний</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/edit_class.css">
</head>
<body>
    <div class="Container">
        <div class="Inner2Container">
                <a href=/attributes_base>
                    <button  class="BTN"> Редактирование базы признаков </button>
                </a>
                <a href=/change_class>
                    <button  class="BTN"> Редактирование признаков классов </button>
                </a>
        </div>

        <div class="InnerContainer">
            <div class="_Back">
                <a href='/attributes_add'>
                    <button class="Exit"> Назад </button>
                </a>
            </div>
            <div class="_Exit">
                <a href='/'>
                    <button class="Exit"> Главное меню </button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>