<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактор базы знаний</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/base_editor.css">
</head>

<body>
    <div class="Container">
        <p class="Title">Редактор базы знаний</p>
        <div class="Inner2Container">
            <a href=/edit_class>
                    <button class="BTN">Редактирование классов</button>
                </a>
            <a href="/base_editor">
                    <button class="BTN">Редактирование признаков</button>
            </a>
            <a href="/attributes">
                    <button class="BTN">Признаки класса</button>
            </a>
        </div>
        <div class="InnerContainer">
        <div class="_Back">
            <a href='/'>
                <button class="Exit"> Назад </button>
            </a>
        </div>
        <div class="_Exit">
            <a href='/'>
                <button class="Exit"> Главное меню </button>
            </a>
        </div>
    </div>
    </div>
</body>
</html>