<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактирование базы знаний</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/classification.css">
</head>
<body>
    <div class="Container">
        <p class="Title"> Выбран класс {{_class | safe}}</p>
        <form action='/choose_attr' method="post" name="choose_attr">
            {{ combox | safe }}
            <button type="submit" class="BTN"> Выбрать признак </button>
        </form>
        <div class="InnerContainer">
            <div class="_Back">
                <a href='/change_attr_values'>
                    <button class="Exit"> Назад </button>
                </a>
            </div>
            <div class="_Exit">
                <a href='/'>
                    <button class="Exit"> Главное меню </button>
                </a>
            </div>
        </div>
    </div>

</body>
</html>
