<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактор базы знаний</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/edit_class.css">
</head>
<body>
    <div class="Container">
        <div class="Inner2Container">
            <div class="FirstColumn">
                {{ table_html | safe}}
            </div>
            <div class="SecondColumn">
                <a href=/exit>
                    <button  class="BTN"> Добавить класс </button>
                </a>
                <a href=/change_class>
                    <button  class="BTN"> Изменить класс </button>
                </a>
                <a href=/delete_class>
                    <button  class="BTN"> Удалить класс </button>
                </a>
            </div>
        </div>

        <div class="InnerContainer">
            <div class="_Back">
                <a href='/base_editor'>
                    <button class="Exit"> Назад </button>
                </a>
            </div>
            <div class="_Exit">
                <a href='/'>
                    <button class="Exit"> Главное меню </button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>