
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>DanilProject</title>
    <link rel="stylesheet" type= "text/css" href="../static/styles/home_page.css">
</head>
<body>
    <div class="Container">
        <p class="Title">Система классификации марок</p>
        <p class="Text">Интеллектуальная система имеет следующий функционал:</p>
        <div class="InnerContainer">
            <div class="FirstColumn">
                <p class="Text">1. Классификация марок. Система классификацирует марку по введеным значениям признаков.</p>
                <p class="Text">2. Редактор базы знаний. Система позволяет вносить изменения в базу знаний.</p>
            </div>
            <div class="SecondColumn">
                <a href=/classification>
                    <button class="BTN">Классификация марок</button>
                </a>
                <a href="/base_editor">
                    <button class="BTN">Редактор базы знаний</button>
                </a>
            </div>
        </div>
        <div class="_Exit">
            <a href=/exit>
                <button  class="Exit"> Выход </button>
            </a>

        </div>
    </div>
</body>
</html>
